name: Release

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install helm
        env:
          HELM_VERSION: "v3.13.3"
        run: |
          curl -sL https://get.helm.sh/helm-${HELM_VERSION}-linux-amd64.tar.gz | tar xvzf - -C /usr/local/bin --strip-components=1

      - name: Create helm tarball
        env:
          HELM_TAG: "${{ github.ref_name }}"
        run: |
          mkdir -p build dist/artifacts
          cp -rf charts build/

          # Remove prefix `v` because it's not needed
          HELM_CHART_VERSION=$(echo "$HELM_TAG" | sed 's|^v||')

          sed -i \
              -e 's/^version:.*/version: '${HELM_CHART_VERSION}'/' \
              -e 's/appVersion:.*/appVersion: '${HELM_CHART_VERSION}'/' \
              build/charts/remotedialer-proxy/Chart.yaml

          sed -i \
              -e 's/tag:.*/tag: '${HELM_TAG}'/' \
              build/charts/remotedialer-proxy/values.yaml

          helm package -d ./dist/artifacts ./build/charts/remotedialer-proxy

      - name: Create release on Github
        env:
          GH_TOKEN:  ${{ github.token }}
        run: |
          cd dist/artifacts

          if gh --repo "${{ github.repository }}" release view "${{ github.ref_name }}" >/dev/null 2>&1; then
            echo "Release ${{ github.ref_name }} already exists."
          else
            if [[ "${{ github.ref_name }}" == *-rc* ]]; then
              gh --repo "${{ github.repository }}" release create ${{ github.ref_name }} --verify-tag --generate-notes --prerelease remotedialer-proxy*.tgz
            else
              gh --repo "${{ github.repository }}" release create ${{ github.ref_name }} --verify-tag --generate-notes remotedialer-proxy*.tgz
            fi
          fi

  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # Required for cosign signing
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: "Read vault secrets"
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/dockerhub/credentials username | PUBLIC_USERNAME;
            secret/data/github/repo/${{ github.repository }}/dockerhub/credentials password | PUBLIC_PASSWORD;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials registry | PRIME_STG_REGISTRY ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials username | PRIME_STG_REGISTRY_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials password | PRIME_STG_REGISTRY_PASSWORD ;
      - name: Publish image
        uses: rancher/ecm-distro-tools/actions/publish-image@master
        with:
          image: remotedialer-proxy
          tag: ${{ github.ref_name }}
          platforms: linux/amd64,linux/arm64
          
          public-registry: docker.io
          public-repo: rancher
          public-username: ${{ env.PUBLIC_USERNAME }}
          public-password: ${{ env.PUBLIC_PASSWORD }}

          push-to-prime: true
          prime-repo: rancher
          prime-registry: ${{ env.PRIME_STG_REGISTRY }}
          prime-username: ${{ env.PRIME_STG_REGISTRY_USERNAME }}
          prime-password: ${{ env.PRIME_STG_REGISTRY_PASSWORD }}
